antropy==0.1.9
bayesian-optimization==1.4.3
deap==1.4.3
hurst==0.0.5
matplotlib==3.8.4
networkx==3.2.1
numpy==2.4.1
pandas>=2.0.0,<2.3.0
reservoirpy>=0.4.1
jax==0.8.2
jaxlib>=0.7.1
ruptures==1.1.10
scikit-learn==1.6.1
scipy>=1.11.4
statsmodels==0.14.5
pycparser
pygments
pyparsing
python-dateutil
torch
ipykernel
Levenshtein
dill